/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html { 
  width: 100%;
  height: 100%;
  /* background: url('../img/El-Capitan-Mac.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
}
body {
    width: 100%;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
     
}

.main-container{
    position: fixed;
    display: table;
     background: url('../img/El-Capitan-Mac.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    width: 100%;
    height: 100%;
}
.form-container {
   position:relative;
   display: table-cell;
   vertical-align: middle;
   /*left:50%;
   margin-left:-400px;
   top:50%;
   margin-top:-150px;*/
   width:800px;
   height:300px;
}
h1 {
    color: white;
    display: block;
    top: 7px;
    width: 100%;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}
p {
    color: white;
    margin: 7px 0px;
}

/****************************************************
    form
****************************************************/

/******disabling default focus***********/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

form {
    border: 2px solid white;
    position: relative;
    color: white;
    width: 800px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
   /* box-shadow: 1px 1px 1px 1px #000;*/
    /*display: table-cell;
    vertical-align: middle;*/
}
.form-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.form-list li {
    display: inline-block;
    padding: 20px;
}
input{
    background: transparent;
    display: inline-block;
    border: none;
    width: 250px;
    border-bottom: 1px solid #222;
    color: white;
    margin-top: 27px;
}
input:focus { border-bottom: 1px solid white;}
input:valid { border-bottom: 1px solid white;}
input[type=submit]{
    background: transparent;
    border:1px solid white;
    text-shadow: 1px 1px 1px black;
    position: absolute;
    bottom: 50px;
    width: 64px;
    left: 50%;
    margin-left: -32px;
}
::-webkit-input-placeholder {
   color: white;
}
:-moz-placeholder { /* Firefox 18- */
   color: white;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}
:-ms-input-placeholder {  
   color: white;  
}
.warning {
    position: absolute;
    bottom: -35px;
}
/****************************************************
    underline effect
****************************************************/
.sliding-middle-out {
    display: inline-block;
    position: relative;
    padding-bottom: 1px;
}
.sliding-middle-out:after {
    content: '';
    display: block;
    position: relative;
    top: -1px;
    margin: auto;
    height: 1px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.sliding-middle-out:hover:after {
    width: 100%;
    background: white;
}


/* ==========================================================================
  home page
   ========================================================================== */

.main-container.home {
    display: table;
     position: fixed;
     background: url('../img/El-Capitan-Mac.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    width: 100%;
    height: 100%;
}
.home-container {
   display: table-cell;
    vertical-align: middle;
}
.content{
    text-align: center;
}
.content h1 {
    position: initial;
    font-size: 30px;
    color: white;
}
.content p {
    font-size: 16px;
    color: white;
}

/* ==========================================================================
  pages
   ========================================================================== */

.main-container.page1 {
    display: table;
     position: fixed;
     background: url('../img/mountains.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    width: 100%;
    height: 100%;
}
.main-container.page2 {
    display: table;
     position: fixed;
     background: url('../img/leaf.jpg') no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    width: 100%;
    height: 100%;
}
.page-container {
   display: table-cell;
    vertical-align: middle;
}
.in-phrase {
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}
.inside-link{
    position: relative;
    display: inline-block;
}
.inside-link:after {
    content: '';
    display: block;
    position: relative;
    top: -1px;
    margin: auto;
    height: 1px;
    width: 0px;
    background: blue;
    transition: width .5s ease, background-color .5s ease;
}
.inside-link:hover:after {
    background: blue;
    width: 100%;
}
/*********************************
outing links
**********************************/
.outing {
    margin: 20px;
}
.outing .link-button {
    margin: -4px 0 0;

}
.outing .roll span:after{
    background: red;
    color: black;
}


/* ==========================================================================
    General
   ========================================================================== */
  .link-button {
    color: blue;
    background: white;
    text-decoration: none;
    margin: 20px;
    /*padding: 5px 10px;*/
}
    
.link-button:hover {
    color: blue;
    background: white;
    text-shadow: none;
    border: none;
    border-radius: 2px;
}

/*********************************************
 * ROLLING LINKS
 *********************************************/

.roll {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;

    -webkit-perspective: 300px;
       -moz-perspective: 300px;
        -ms-perspective: 300px;
            perspective: 300px;

    -webkit-perspective-origin: 50% 50%;
       -moz-perspective-origin: 50% 50%;
        -ms-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
}
.roll:hover {
    background: none;
    text-shadow: none;
}
.roll span {
    display: block;
    position: relative;
    padding: 5px 10px;
    pointer-events: none;

    -webkit-transition: all 600ms ease;
       -moz-transition: all 400ms ease;
        -ms-transition: all 400ms ease;
            transition: all 400ms ease;
    
    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
    
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}
.roll:hover span {
    background: white;

    -webkit-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
       -moz-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
        -ms-transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
            transform: translate3d( 0px, 0px, -55px ) rotateX( 90deg );
}
.roll span:after {
    content: attr(data-title);

    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 10px;
    white-space: nowrap;

    color: blue;
    background: white; 

    -webkit-transform-origin: 50% 0%;
       -moz-transform-origin: 50% 0%;
        -ms-transform-origin: 50% 0%;
            transform-origin: 50% 0%;

    -webkit-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
       -moz-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
        -ms-transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
            transform: translate3d( 0px, 105%, 0px ) rotateX( -90deg );
}







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/* ==========================================================================
    Responsive
   ========================================================================== */

@media screen and (max-width: 850px) {
  .form-container form{
    width: 320px;
  }
  .form-container input {
    margin-top: 0px
  }
  .warning {
    bottom: -55px;
    text-align: left;
  }
}


